{% extends 'front_office/layout.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Il y a {{ posts | length }} article(s) :</p>
    <ul>
        {% for post in posts %}
        <li>{{ post.createdAt | date('d/m/Y') }} - <a href="{{ path('app_frontoffice_default_show', {id: post.id}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
