{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<p>Publié le: {{ post.createdAt | date('d/m/Y') }}, par {{ post.writtenBy.name }}</p>
<div class="post-body">
    {{ post.body | nl2br }}
</div>
<p>
    <a href="{{ path('app_frontoffice_default_homepage') }}">Retour à l'accueil</a>
    <a href="{{ path('app_post_edit', {id: post.id}) }}">Éditer</a>
    <a href="{{ path('app_post_delete', {id: post.id}) }}">Supprimer</a>
</p>
{% endblock %}
