{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
    <h1>Gestion des publications</h1>
    <p>Il y a {{ posts | length }} article(s) :</p>
    <p><a href="{{ path('app_authoring_post_create') }}">Nouveau</a></p>

    <table>
        <thead>
            <tr><th>id</th><th>Titre</th><th>Auteur</th><th>Date de création</th><th>Actions</th></tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('app_frontoffice_default_show', {id: post.id}) }}" target="_blank">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.writtenBy.name }}</td>
                <td>{{ post.createdAt | date('d/m/Y') }}</td>
                <td>
                    {% if is_granted('POST_EDIT', post) %}
                        <a href="{{ path('app_authoring_post_edit', {id: post.id}) }}">Éditer</a>
                    {% else %}
                        -
                    {% endif %}
                    {% if is_granted('POST_DELETE', post) %}
                        <a href="{{ path('app_authoring_post_delete', {id: post.id}) }}">Supprimer</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
