<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{{ 'site.welcome' | trans }}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">
            <link rel="stylesheet" href="{{ asset('css/form.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flash.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <div class="mb-3">
    {% if app.user %}
        Connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_security_logout') }}">{{ 'site.action.logout' | trans }}</a>
        {% else %}
        Non-connecté, <a href="{{ path('app_security_login') }}">{{ 'site.action.login' | trans }}</a>
    {% endif %}
        {{ render(controller('App\\Controller\\LocaleController::choiceList')) }}
    </div>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
