{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>{{ 'post.count' | trans({'count': posts | length }) }}</p>
    {% if is_granted('ROLE_USER') %}
        <p><a href="{{ path('app_post_create') }}">Nouveau</a></p>
    {% endif %}
    <ul>
        {% for post in posts %}
        <li>{{ post.createdAt | date('d/m/Y') }} - <a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
