{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<p>{{ 'post.fields.createdAt.label' | trans }}: {{ post.createdAt | format_date('long') }}</p>
<div class="post-body">
    {{ post.body | nl2br }}
</div>
<p>
    <a href="{{ path('app_post_homepage') }}">{{ 'site.nav.back_to_homepage' | trans }}</a>
    <a href="{{ path('app_post_edit', {id: post.id}) }}">{{ 'site.action.edit' | trans }}</a>
    <a href="{{ path('app_post_delete', {id: post.id}) }}">{{ 'site.action.delete' | trans }}</a>
</p>
{% endblock %}
